<mat-nav-list>
  <a mat-list-item routerLink="/signup" (click)="onClose()">
    <mat-icon>face</mat-icon>
    <span class="nav-text">Signup</span>
  </a>

  <a mat-list-item routerLink="/login" (click)="onClose()">
    <mat-icon>input</mat-icon>
    <span class="nav-text">Login</span>
  </a>

  <a mat-list-item routerLink="/learning" (click)="onClose()">
    <mat-icon>class</mat-icon>
    <span class="nav-text">Learning</span>
  </a>

  <mat-list-item>
    <button mat-icon-button (click)="onLogout()">
      <mat-icon>launch</mat-icon>
      <span class="nav-text">Logout</span>
    </button>
  </mat-list-item>
</mat-nav-list>
